$primary: #5A3350;
$secondary: #e5f2c9;
$darkText: #1A1A1A;


// Customer Says SASS Start
.customer-says{
    .second-sec{
       button[type="button"]{
        top:250px;
        --vc-nav-border-radius: 80px;
        --vc-nav-width: 50px;
        --vc-nav-height: 30px;
        .carousel__icon{
            height: 20px;
            width: 20px;
        }
       }
       .carousel__next{
        left: 80px;
       }
    }
}

@media only screen and (max-width : 786px) {
    .customer-says{
         button[type="button"]{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
         }
    }
}

// Customer Says SASS End

// Login Page SASS Start
.login-path{
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

#





}
// Login Page SASS End

