$primary: #40916c;
$secondary: #2d6a4f;
$darkText: #1A1A1A;
$formmLightCol: #d1d5dc;


// Customer Says SASS Start
.customer-says{
    .second-sec{
       button[type="button"]{
        top:250px;
        --vc-nav-border-radius: 80px;
        --vc-nav-width: 50px;
        --vc-nav-height: 30px;
        .carousel__icon{
            height: 20px;
            width: 20px;
        }
       }
       .carousel__next{
        left: 80px;
       }
       @media only screen and (max-width:1024px) {
            .carousel__next{
                left: 5px;
            }
            .carousel__prev{
                left: 75px;
            }
            button[type="button"]{
            top:180px;
            }
       }
        @media only screen and (max-width:787px) {
            .carousel__next{
                left: 26px;
            }
            .carousel__prev{
                left: 100px;
            }
       }
           @media only screen and (max-width:540px) {
            button[type="button"]{
            top:230px;
            }
       }
    }
}

@media only screen and (max-width : 786px) {
    .customer-says{
         button[type="button"]{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
         }
    }
}

// Customer Says SASS End

// Login Page SASS Start
.login-path{
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
// Login Page SASS End


// Header Animation Start
.scollActive{
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    top: 0;
    padding-block: 20px;
    animation: headerSlide 0.4s linear 0s 1 alternate;
}
@keyframes headerSlide {
    from {
        top: -100px;
    }
    to{
        top: 0px;
    }
    
}
// Header Animation End


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  outline: none;
}
/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: $primary; /* blue */
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}



// Chexkboxes SASS Start
.p-checkbox{
    .p-checkbox-box{
        width: 17px;
        height: 17px;
        border-radius: 4px;
        svg{
            width: 12px;
            height: 12px;
        }
    }
}
// Chexkboxes SASS End



// Select Style SASS Start
.d_select{
    .p-component{
        height: 38px!important;
        width: 100%!important;
        background: transparent !important;
        border: 1.6px solid $formmLightCol!important;
       border-radius: 8px;
        padding: 7px 12px !important;
        color: $formmLightCol !important;
        font-size: 14px !important;
        box-shadow: none !important;
    }
}

.p-select-label {
    color: $darkText !important;
    padding: 0px !important;
    font-size: 14px !important;
}

.p-select-overlay.p-component {
    border: 1px solid $formmLightCol;
    background-color: #fff !important;

    .p-select-list-container {
        &::-webkit-scrollbar-track {
            background-color: red !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .p-select-list {
            .p-select-option {
                color:$primary !important;
                font-size: 14px !important;

                &.p-focus {
                    background: $secondary!important;
                    color: #fff !important;
                }
            }
        }
    }

    .p-select-option:not(.p-select-option-selected):not(.p-disabled):hover{
        background: $secondary!important;
        color: #fff !important;
    }
}

.primary_field{
    input.p-component{
        width: 100%!important;
        height: 38px!important;
        background: transparent !important;
        border: 1px solid $formmLightCol!important;
        border-radius: 8px;
        color: $darkText !important;
        font-size: 14px !important;
         box-shadow: none !important;
    }
}
// Select Style SASS End


// Modal Content Scrollbar SASS Start
.modal {
    .dialog-content {
           scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    /* Webkit browsers: Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 8px; // scrollbar width
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; // track color
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888; // thumb color
      border-radius: 4px;
      border: 2px solid #f1f1f1; // padding effect
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555; // hover effect
    }
    }
}
// Modal Content Scrollbar SASS End