$primary: #40916c;
$secondary: #2d6a4f;
$darkText: #1A1A1A;


// Customer Says SASS Start
.customer-says{
    .second-sec{
       button[type="button"]{
        top:250px;
        --vc-nav-border-radius: 80px;
        --vc-nav-width: 50px;
        --vc-nav-height: 30px;
        .carousel__icon{
            height: 20px;
            width: 20px;
        }
       }
       .carousel__next{
        left: 80px;
       }
       @media only screen and (max-width:1024px) {
            .carousel__next{
                left: 5px;
            }
            .carousel__prev{
                left: 75px;
            }
            button[type="button"]{
            top:180px;
            }
       }
        @media only screen and (max-width:787px) {
            .carousel__next{
                left: 26px;
            }
            .carousel__prev{
                left: 100px;
            }
       }
           @media only screen and (max-width:540px) {
            button[type="button"]{
            top:230px;
            }
       }
    }
}

@media only screen and (max-width : 786px) {
    .customer-says{
         button[type="button"]{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
         }
    }
}

// Customer Says SASS End

// Login Page SASS Start
.login-path{
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
// Login Page SASS End


// Header Animation Start
.scollActive{
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    top: 0;
    padding-block: 20px;
    animation: headerSlide 0.4s linear 0s 1 alternate;
}
@keyframes headerSlide {
    from {
        top: -100px;
    }
    to{
        top: 0px;
    }
    
}
// Header Animation End


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  outline: none;
}
/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: $primary; /* blue */
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}
