
/* Monsteret */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

:root{
   --primary: #E7C873;
   --secondary: #bfa86b;
   --darkText: #1A1A1A;
}

@theme {

    /* fonts */
    --font-Roboto : "Roboto", sans-serif;
    --font-Mons: "Montserrat", system-ui, sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-Sans: "Open Sans", sans-serif;

    /* colors */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-darkText: var(--darkText);

    /* Responsive */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1536px;
    --breakpoint-4xl: 1920px;
}

html,body{
  @apply font-Roboto 
}

h1,h2,h3,h4,h5,h6,p{
  @apply text-darkText
}
p{
  @apply leading-6.5
}

.tw-container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[93%]     
} 
.container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[85%]  2xl:max-w-[1450px]  4xl:max-w-[1450px]    
}

/* Button Style */
.btn{
  @apply w-fit rounded-full font-medium
}
.btn-primary{
  @apply bg-primary px-6.5 py-3 text-sm transition-all hover:bg-secondary cursor-pointer
}

nav ul li a{
  @apply transition-all font-normal hover:text-primary
}




/* Header CSS Start */
header ul li .item{
    @apply hover:text-primary transition-all
}
/* Header CSS End */

.sec-head{
  @apply md:text-4xl text-3xl font-medium 
}

.sec-text{
  @apply mt-2 text-base
}

/* Carousel Style Start */
.carousel {
  --vc-nav-background: rgba(0, 0, 0, 0.3);
  --vc-nav-color: white;
  --vc-nav-color-hover: #e5e5e5;
  --vc-nav-border-radius: 50%;
  --vc-nav-width: 40px;
  --vc-nav-height: 40px;
}
.carousel {
  --vc-pgn-background-color: rgb(179, 179, 179);
  --vc-pgn-active-color: rgb(26, 26, 26);
  --vc-pgn-border-radius: 100px;
  --vc-pgn-height: 8px;
  --vc-pgn-width: 8px;
}
.carousel__pagination{
  @apply -bottom-10! gap-3!
}

/* Customer Says Style Start */
.customer-says .second-sec button[type="button"]{
    --vc-nav-background:transparent;
    --vc-nav-color: var(--primary);
    --vc-nav-color-hover: var(--primary);
    border:0.5px solid var(--primary);
}
/* Customer Says Style End */

/* Footer Style Start */
.footer-web .hd{
  @apply text-white/40! mb-5
}
.footer-web .items{
  @apply text-white! text-[15px] mb-3! flex font-light transition-all!
}
.footer-web .items.hover{
  @apply  transition-all hover:text-primary!
}
/* Footer Style End */
